<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default"
        >
            <div class="panel-heading">
                {{element.name}}
            </div>
            <div class="panel-body">
                <strong *ngIf="element.type==='server'" style="color:red">
                    {{element.content}}
                </strong>
                <em *ngIf="element.type==='blueprint'" >
                    {{element.content}}
                </em>
            </div>
        </div>
    </div>
</div>