<div class="row">
    <div class="col-md-12">
        <label for="servername">
            ServerName
        </label>
        <input type="text" class="form-control" [(ngModel)]="newServerName">
        <label for="blueprintname" >
            ServerContent
        </label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
        <button class="btn btn-primary" (click)='onAddServer()'>Add Server</button>
        <button class="btn btn-primary" (click)='onAddBlueprint()'>Add Blueprint</button>
    </div>
</div>
